<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.mywednesdayfix.app" version="0.19.3" versionCode="1">
  <!-- app info -->
  <name>MyWednesdayFix</name>
  <description>For comic book junkies.</description>
  <author href="http://mywednesdayfix.com" email="app@mywednesdayfix.com">Noah Cooper</author>
  
  <!-- global -->
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.inappbrowser" />
  <icon src="icon.png" />
  
  <!-- ios -->
  <gap:platform name="ios" />
  <preference name="deployment-target" value="7.0" />
  <preference name="target-device" value="handset" />
  <preference name="DisallowOverscroll" value="true" />
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
  </feature>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  <icon src="images/icon/iphone/appicon-60@3x.png" gap:platform="ios" width="180" height="180" />
  <icon src="images/icon/iphone/appicon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="images/icon/iphone/appicon-60@2x.png" gap:platform="ios" width="120" height="120" />
  <icon src="images/icon/iphone/appicon-Small.png" gap:platform="ios" width="29" height="29" />
  <icon src="images/icon/iphone/appicon-Small@2x.png" gap:platform="ios" width="58" height="58" />
  <icon src="images/icon/iphone/appicon-Small-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="images/icon/iphone/appicon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />
  
  <gap:splash src="images/splash/iphone/Default.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="images/splash/iphone/Default@2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="images/splash/iphone/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="images/splash/iphone/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
  <gap:splash src="images/splash/iphone/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />
  <gap:splash src="images/splash/iphone/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="images/splash/iphone/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
  
  <!-- android -->
  <gap:platform name="android" />
  <preference name="android-minSdkVersion" value="10" />
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>
  <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
  </feature>
  <icon src="images/icon/android/res/drawable-ldpi/appicon.png" gap:platform="android" gap:qualifier="ldpi" />
  <icon src="images/icon/android/res/drawable-mdpi/appicon.png" gap:platform="android" gap:qualifier="mdpi" />
  <icon src="images/icon/android/res/drawable-hdpi/appicon.png" gap:platform="android" gap:qualifier="hdpi" />
  <icon src="images/icon/android/res/drawable-xhdpi/appicon.png" gap:platform="android" gap:qualifier="xhdpi" />
  <icon src="images/icon/android/res/drawable-xxhdpi/appicon.png" gap:platform="android" gap:qualifier="xxhdpi" />
  <gap:splash src="images/splash/android/images/res-long-port-ldpi/default.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="images/splash/android/images/res-long-port-mdpi/default.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="images/splash/android/images/res-long-port-hdpi/default.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="images/splash/android/images/res-long-port-xhdpi/default.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="images/splash/android/images/res-long-port-xxhdpi/default.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
</widget>