<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.mywednesdayfix.app" version="0.18.0" versionCode="1">
  <name>MyWednesdayFix</name>
  <description>For comic book junkies.</description>
  <author href="http://mywednesdayfix.com" email="app@mywednesdayfix.com">Noah Cooper</author>
  <gap:platform name="ios" />
  <gap:platform name="android" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <preference name="permissions" value="none" />
  <preference name="deployment-target" value="7.0" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
  </feature>
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
  </feature>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
  </feature>
  <icon src="images/icon.png" />
  <icon src="images/icon-57.png" gap:platform="ios" width="57" height="57" />
  <icon src="images/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="images/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
  <icon src="images/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
  <icon src="images/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
  <icon src="images/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
  <icon src="images/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
  <icon src="images/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
  <gap:splash src="images/splash.png" gap:platform="ios" width="320" height="480" />
  <gap:splash src="images/splash-2x.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="images/splash-568h-2x.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="images/splash-667h-2x.png" gap:platform="ios" width="750" height="1334" />
  <gap:splash src="images/splash-portrait-736h-3x.png" gap:platform="ios" width="1242" height="2208" />
  <gap:splash src="images/splash-landscape-736h-3x.png" gap:platform="ios" width="2208" height="1242" />
  <gap:splash src="images/splash-portrait.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="images/splash-landscape.png" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="images/splash-portrait-2x.png" gap:platform="ios" width="1536" height="2048" />
  <gap:splash src="images/splash-landscape-2x.png" gap:platform="ios" width="2048" height="1536" />
  <gap:splash src="images/splash-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="images/splash-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="images/splash-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="images/splash-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="images/splash-portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
  <gap:splash src="images/splash-landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
</widget>